@font-face {
    font-family: 'Lato';
    src: 
    url('../fonts/lato/Lato-Light.woff') format('woff'),
    url('../fonts/lato/Lato-Light.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
    }
@font-face {
    font-family: 'Open Sans';
    src: 
    url('../fonts/opensans/OpenSans-Light.woff') format('woff'),
    url('../fonts/opensans/OpenSans-Light.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
        }
@font-face {
    font-family: 'Open Sans SemiBold';
    src: 
    url('../fonts/opensans/OpenSans-SemiBold.woff') format('woff'),
    url('../fonts/opensans/OpenSans-SemiBold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: wrap;
                }